body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  margin: 0;
  padding: 0;
}

body.language {
  background: linear-gradient(188deg, #0c0c0c 4%, #348cff 40%, #0c0c0c 96%);
  min-height: 100vh;
}

body.en-page,
body.ru-page {
  background: linear-gradient(172deg, #0c0c0c 4%, #4834ff 40%, #0c0c0c 96%);
  min-height: 100%;
}

.language main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #657fe9;
  margin-top: 176px;
  width: 484px;
  height: auto;
  text-align: center;
  padding: 12px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(241, 241, 243, 0.7);
}

.en-page header,
.ru-page header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #657fe9;
  width: 676px;
  height: auto;
  text-align: center;
  padding: 12px;
  margin-top: 16px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(241, 241, 243, 0.7);
}

.en-page main,
.ru-page main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #657fe9;
  width: 624px;
  height: auto;
  text-align: center;
  padding: 12px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(241, 241, 243, 0.7);
}

.en-page section,
.ru-page section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #657fe9;
  width: 376px;
  height: auto;
  text-align: center;
  padding: 12px;
  border-radius: 92px;
  box-shadow: 0px 0px 32px rgba(241, 241, 243, 0.7);
}

.en-page footer,
.ru-page footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #94a5e9;
  text-align: center;
}

a {
  text-decoration: none
}

p {
  font-size: 1.3rem;
  font-weight: 700;
}

.small {
  font-size: 1.0rem;
  font-weight: 100;
}

.big {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .language main,
  .en-page header,
  .en-page main,
  .en-page section,
  .en-page footer,
  .ru-page header,
  .ru-page main,
  .ru-page section,
  .ru-page footer
   {
    width: 84% !important;
    padding: 16px !important;
    height: auto !important
  }
}
