body {
  background-color: #18191b;
  margin: 0;
  padding: 0;
}

.user-choose {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 18%;
  padding: 15px;
  border-radius: 60px;
}

.ru-simple-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 17px;
  padding: 15px;
  border-radius: 87px;
}

.en-simple-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 17px;
  padding: 15px;
  border-radius: 87px;
}

.ru-about-me {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 17px;
  padding: 15px;
  border-radius: 87px;
}

.en-about-me {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 17px;
  padding: 15px;
  border-radius: 87px;
}

.ru-contacts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 20%;
  text-align: center;
  margin: auto;
  margin-top: 13px;
  padding: 30px;
  border-radius: 87px;
}

.en-contacts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 20%;
  text-align: center;
  margin: auto;
  margin-top: 13px;
  padding: 30px;
  border-radius: 87px;
}

a {
  text-decoration: none
}

ru-footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #bdc7f0;
  text-align: center;
  margin: auto;
}

en-footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #bdc7f0;
  text-align: center;
  margin: auto;
}