body {
  display: flex;
  align-items: center;
  gap: 13px;
  flex-direction: column;
  background: linear-gradient(180deg, #0c0c0c 0%, #348cff 50%, #0c0c0c 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.user-choose {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  margin-top: 215px;
  width: 560px;
  text-align: center;
  padding: 10px;
  border-radius: 87px;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.6);
}

.simple-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 720px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: 87px;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.6);
}

.about-me {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 630px;
  text-align: center;
  padding: 10px;
  border-radius: 87px;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.6);
}

.contacts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #bdc7f0;
  width: 400px;
  text-align: center;
  padding: 10px;
  border-radius: 87px;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none
}

footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #a2b2f5;
  text-align: center;
}

@media (max-width: 767px) {
  .user-choose, .simple-info, .about-me, .contacts {
    width: 88% !important;
    padding: 13px !important;
  }

}
